{% extends "base.html" %}


{% block content %}
<div class="landing-image mrow"></div>

<div class="site-info mrow">
	<div class="row">
		<div class="col-md-2 col-md-offset-3 ">
			<div class="site-info-div">
				<span style="display: block;"><i class="fa fa-users fa-5x"></i></span><br>
				<h4>Join</h4>
			</div>
		</div>
		<div class="col-md-2 ">
			<div class="site-info-div">
				<span style="display: block;"><i class="fa fa-book fa-5x"></i></span><br>
				<h4>Learn</h4>
			</div>
		</div>
		<div class="col-md-2 ">
			<div class="site-info-div">
				<span style="display: block;"><i class="fa fa-share-alt fa-5x"></i></span><br>
				<h4>Share</h4>
			</div>
		</div>
	</div>
</div>

<div class="signin mrow">
	<div class="signin-button">
		<a class="btn btn-block btn-social btn-facebook fb-button"><i
			class="fa fa-facebook"></i> Login with Facebook
		</a>
	</div>
</div>
{% endblock %}